.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
    padding: 2rem 1rem;

    .headerLeftSide {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .headerRightSide {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            background: #00FFB2;
            border: none;
            border-radius: .25rem;
            padding: .5rem 1rem;
            margin-left: 1rem;
            cursor: pointer;
            font-size: 1rem;
        }
    }

    .imageWrapper {
        width: 20%;

        img {
            width: 100%;
            cursor: pointer;
        }
    }

    .links {
        margin-left: 3rem;

        a {
            text-decoration: none;
            color: white;
            margin-right: 1rem;
        }
    }
}