.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 2rem;

  .mainWrapper {
    margin-top: 2rem;
    
    h1 {
  
    }
  
    h2 {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 400;
    }
  
    .loginWrapper {
      margin-top: 2rem;
    }
  }
}