.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem;
  min-height: 100vh;

  h1 {

  }

  h2 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .loginWrapper {
    margin-top: 2rem;
  }
}