.NFTCardWrapper {
    width: 100%;
    position: relative;
    cursor: pointer;

    .imageWrapper {
        width: 100%;

        img {
            width: 100%;
        }

        .infoWrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem;
            
            .infoOnTop {
                width: 75%;

                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
            
            .infoOnBottom {
                width: 100%;
                display: flex;
        
                .tokenAuctionData {
                    border: 1px solid white;
                    border-radius: .25rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: .5rem;
                    padding: .25rem;
                    
                    span {
                        color: white;
                    }
    
                    .spanHeader {
                        font-size: .6rem;
                        margin-bottom: .25rem;
                        color: #00FFB2;
                    }
                }
            }
        }
    }
}