.tokensCategoriesWrapper {
    width: 100%;
    
    nav {
        width: 100%;
        padding-bottom: 2rem;

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            text-decoration: none;

            li {
                margin-right: 3rem;
                cursor: pointer;
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }
}